#blog_header {
  height: 110px;
  background: url(/img/backround.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#blog_header .nav {
  position: fixed;
  width: 100%;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

#blog_header .blognav {
  height: 110px;
  width: 1160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

#blog_header .blognav .blogleft {
  width: 580px;
}

#blog_header .blognav .blogleft a {
  font-family: 'Kaushan Script', cursive;
  font-size: 32px;
  line-height: 46px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  font-style: italic;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

#blog_header .blognav .blogright {
  width: 580px;
  text-align: end;
  visibility: hidden;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

#blog_header .blognav .blogright a {
  font-size: 12px;
  color: #999999;
  letter-spacing: 0.1em;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  -webkit-box-shadow: inset 0 0 0 #fdd912;
          box-shadow: inset 0 0 0 #fdd912;
  text-decoration: none;
  opacity: 1;
  outline: none;
}

#blog_header .blognav .blogright a:hover {
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  background: #fdd912;
}

#blog_body {
  margin-top: 60px;
}

#blog_body .container {
  margin: 40px auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1160px;
}

#blog_body .container .title h1 {
  font-size: 38px;
  line-height: 46px;
  margin: 0 0 5px 0;
  color: #292929;
  font-weight: 400;
  font-family: 'Kaushan Script', cursive;
  letter-spacing: 0.02em;
}

#blog_body .container .title p {
  font-size: 12px;
  color: #999999;
  letter-spacing: 0.1em;
  font-weight: 500;
  line-height: 14px;
  text-decoration: none;
  opacity: 1;
  outline: none;
  margin: 0 0 15px 0;
}

#blog_body .container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#blog_body .container .text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#blog_body .container .text p {
  font-size: 16px;
  color: #999999;
  line-height: 28px;
  letter-spacing: 0.02em;
  font-weight: 300;
  margin: 20px auto;
}

#blog_body .container .text blockquote {
  font-size: 16px;
  line-height: 26px;
  color: #000;
  border-left: 4px solid #000;
  padding-left: 20px;
  margin: 40px 0;
}

#blog_body .container .text ul {
  margin: 40px auto;
}

#blog_body .container .text ul li {
  font-size: 16px;
  list-style: circle;
  line-height: 24px;
  letter-spacing: 0.02em;
  font-weight: 300;
  color: #898989;
}

#blog_body .container .blog_works {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
  margin: 40px auto;
}

#blog_body .container .postComments .title {
  margin: 80px 0 40px 0;
}

#blog_body .container .postComments .title span {
  font-size: 22px;
  line-height: 24px;
  color: #000;
  font-weight: bold;
  font-family: 'Kaushan Script', cursive;
  letter-spacing: 0.02em;
}

#blog_body .container .postComments hr {
  margin: 20px 0;
}

[class^="blogcomment"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 11fr;
      grid-template-columns: 1fr 11fr;
  grid-gap: 20px;
  grid-auto-rows: 100px;
  margin: 20px 0;
}

[class^="row"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

[class^="reply"] {
  font-size: 16px;
  line-height: 20px;
  color: #000;
  font-weight: bold;
  letter-spacing: 0.02em;
  font-family: 'Kaushan Script', helvetica;
  text-decoration: none;
}

[class^="name"] {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: 'Kaushan Script', cursive;
  color: #292929;
  letter-spacing: 0.02em;
}

[class^="date"] {
  font-size: 12px;
  color: #c5c5c5;
  font-weight: 400;
  font-family: 'Kaushan Script', cursive;
  letter-spacing: 0.02em;
}

[class^="text"] {
  font-size: 14px;
  color: #999999;
  letter-spacing: 0.1em;
  font-weight: 500;
  line-height: 14px;
  text-decoration: none;
  opacity: 1;
  outline: none;
}

#blog_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

#blog_contact .container {
  width: 1160px;
}

#blog_contact .container .title {
  font-size: 22px;
  line-height: 24px;
  margin: 25px 0 30px 0;
  color: #000;
  font-weight: bold;
  font-family: 'Kaushan Script', cursive;
}

#blog_contact .container input {
  width: 100%;
  height: 48px;
  font-size: 13px;
  color: #292929;
  letter-spacing: -0.045em;
  font-weight: 500;
  resize: none;
  outline: 0;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 20px 0;
}

#blog_contact .container textarea {
  width: 100%;
  height: 48px;
  font-size: 13px;
  color: #292929;
  letter-spacing: -0.045em;
  font-weight: 500;
  resize: none;
  outline: 0;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 20px 0;
}

#blog_contact .container .sbtn a {
  font-size: 12px;
  color: #292929;
  letter-spacing: 0.2em;
  font-weight: 500;
  line-height: 12px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -6px 0 #fdd912;
          box-shadow: inset 0 -6px 0 #fdd912;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #292929;
  text-decoration: none;
  opacity: 1;
  outline: none;
  margin-top: 20px;
}

#blog_contact .container form {
  margin-bottom: 40px;
}

#blog_contact .container form a {
  display: inline-block;
}

#blog_contact .container form a:hover {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  background: #fdd912;
}

#blog_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f9f9f9;
}

#blog_footer #footer {
  width: 1160px;
  height: 260px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#blog_footer #footer .sosials ul li {
  display: inline-block;
  border: 1px solid #ccc;
  margin: 0 5px;
  text-align: center;
  height: 42px;
  width: 42px;
  border-radius: 42px;
}

#blog_footer #footer .sosials ul li:hover {
  border: 1px solid #292929;
}

#blog_footer #footer .sosials a {
  margin-top: 130px;
  margin: 0 6px;
  overflow: hidden;
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  margin: 0 6px;
  overflow: hidden;
  text-align: center;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

#blog_footer #footer .sosials a i {
  text-decoration: none;
  font-size: 22px;
  color: #292929;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  text-align: center;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}

.reset_parameteres, #blog_footer #footer .sosials ul {
  margin: 0px;
  padding: 0px;
}

.flex-all-center, #blog_footer #footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image-full-div {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.a-type {
  text-decoration: none;
  outline: none;
}

.blog_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all .6s ease 0s;
  transition: all .6s ease 0s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.blog_modal .modal_body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.blog_modal .modal_body .modal_content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.blog_modal .modal_body .modal_content .arrow {
  color: lightgray;
  padding: 0 30px;
  font-size: 40px;
  cursor: pointer;
}

.blog_modal .modal_body .modal_content .center .close_modal {
  text-align: end;
  color: white;
  padding-bottom: 10px;
  font-size: large;
  cursor: pointer;
}

.blog_modal .modal_body .modal_content .center .img_count {
  text-align: end;
  color: white;
  font-size: small;
  padding-top: 10px;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 2;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 1;
  visibility: visible;
}

.preloader .loader {
  width: 75px;
  height: 75px;
  border: 10px solid lightgray;
  border-radius: 50%;
  border-top-color: yellow;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: 1s loader infinite linear;
          animation: 1s loader infinite linear;
}

.preloader.done {
  opacity: 0;
  visibility: hidden;
}

@-webkit-keyframes loader {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes loader {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
