#header {
  height: 633px;
  background: url("/img/backround-new.png");
  background-size: cover;
}

#header .nav .navbar {
  padding: 20px 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .nav .navbar .navbarleft {
  width: 120px;
  display: inline-block;
}

#header .nav .navbar .navbarleft a {
  display: inline-block;
  font-family: 'Kaushan Script', cursive;
  font-size: 32px;
  line-height: 46px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  font-style: italic;
}

#header .nav .navbar .navbarright ul {
  display: inline-block;
}

#header .nav .navbar .navbarright ul li {
  display: inline-block;
  margin: 0 18px;
  font-size: 12px;
  color: white;
  letter-spacing: 0.1em;
  font-weight: 500;
  line-height: 14px;
}

#header .content {
  height: 348px;
}

#header .content .hobbies {
  margin-top: 190px;
}

#header .content .hobbies ul {
  height: 100px;
}

#header .content .hobbies ul li {
  display: inline-block;
  padding: 0 20px;
  color: white;
  font-weight: 600;
  letter-spacing: -0.045em;
  font-size: 50px;
}

#header .content .media a i {
  padding: 0 10px;
  color: white;
}

#header .content .arrow {
  margin-top: 145px;
}

#header .content .arrow a i {
  color: white;
  font-size: 24px;
}

#about {
  width: 100%;
  height: 720px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #898989;
}

#about .row {
  width: 1200px;
  height: 420px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#about .row .column1 {
  height: 460px;
}

#about .row .column1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#about .row .column2 h1 {
  font-family: 'Kaushan Script', cursive;
  margin: 28px 0;
  font-weight: 400;
  color: #292929;
  font-size: 44px;
  line-height: 56px;
  padding-left: 40px;
}

#about .row .column2 p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #898989;
  background: #ffffff;
  line-height: 25px;
  letter-spacing: 0.03em;
  font-weight: 300;
  padding-left: 40px;
}

#about .row .column2 .btn {
  margin-top: 40px;
  width: 155px;
  height: 14px;
  padding-left: 40px;
}

#about .row .column2 .btn a:hover {
  background: yellow;
}

#about .row .column2 a {
  vertical-align: top;
  font-size: 12px;
  color: #292929;
  letter-spacing: 0.2em;
  font-weight: 500;
  line-height: 12px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  -webkit-box-shadow: inset 0 -6px 0 #fdd912;
  height: 14px;
  opacity: 1;
  outline: none;
}

body {
  margin: 0px;
  font-family: 'Poppins', helvetica;
}

.reset_parameteres, #header .nav .navbar .navbarright ul, #header .content .hobbies ul {
  margin: 0px;
  padding: 0px;
}

.flex-all-center, #header .content .hobbies ul, #header .content .media, #header .content .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
