#header {
  height: 633px;
  background: url("/img/backround-new.png");
  background-size: cover;
}

#header .nav .navbar {
  padding: 20px 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .nav .navbar .navbarleft {
  width: 120px;
  display: inline-block;
}

#header .nav .navbar .navbarleft a {
  display: inline-block;
  font-family: 'Kaushan Script', cursive;
  font-size: 32px;
  line-height: 46px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  font-style: italic;
}

#header .nav .navbar .navbarright ul {
  display: inline-block;
}

#header .nav .navbar .navbarright ul li {
  display: inline-block;
  margin: 0 18px;
  font-size: 12px;
  color: white;
  letter-spacing: 0.1em;
  font-weight: 500;
  line-height: 14px;
}

#header .content {
  height: 348px;
}

#header .content .hobbies {
  margin-top: 190px;
}

#header .content .hobbies ul {
  height: 100px;
}

#header .content .hobbies ul li {
  display: inline-block;
  padding: 0 20px;
  color: white;
  font-weight: 600;
  letter-spacing: -0.045em;
  font-size: 50px;
}

#header .content .media a i {
  padding: 0 10px;
  color: white;
}

#header .content .arrow {
  margin-top: 145px;
}

#header .content .arrow a i {
  color: white;
  font-size: 24px;
}

body {
  margin: 0px;
  font-family: 'Poppins', helvetica;
}

.reset_parameteres, #header .nav .navbar .navbarright ul, #header .content .hobbies ul {
  margin: 0px;
  padding: 0px;
}

.flex-all-center, #header .content .hobbies ul, #header .content .media, #header .content .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
