#header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 635px;
  background: url("/img/backround-new.png");
  background-size: cover;
}

#header .nav .navbar {
  padding: 20px 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .nav .navbar .navbarleft {
  width: 120px;
  display: inline-block;
}

#header .nav .navbar .navbarleft a {
  display: inline-block;
  font-family: 'Kaushan Script', cursive;
  font-size: 32px;
  line-height: 46px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  font-style: italic;
}

#header .nav .navbar .navbarright ul {
  display: inline-block;
}

#header .nav .navbar .navbarright ul li {
  display: inline-block;
  margin: 0 18px;
  font-size: 12px;
  color: white;
  letter-spacing: 0.1em;
  font-weight: 500;
  line-height: 14px;
  outline: none;
}

#header .nav .navbar .navbarright ul li:hover {
  -webkit-box-shadow: inset 0 -6px 0 #fdd912;
          box-shadow: inset 0 -6px 0 #fdd912;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

#header .nav .navbar .navbarright ul a {
  text-decoration: none;
  color: white;
}

#header .content {
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .content .content_items .hobbi_list .hobbi {
  color: white;
  font-weight: 600;
  letter-spacing: -0.045em;
  font-size: 100px;
  line-height: 100px;
}

#header .content .content_items .media {
  text-align: center;
}

#header .content .content_items .media a {
  text-decoration: none;
}

#header .content .content_items .media a i {
  padding: 0 10px;
  color: white;
}

#header .arrow {
  text-align: center;
}

#header .arrow a {
  height: 40px;
}

#header .arrow a i {
  color: white;
  font-size: 24px;
  -webkit-animation: arrow_anim 1s  ease-out 0s infinite;
          animation: arrow_anim 1s  ease-out 0s infinite;
}

@-webkit-keyframes arrow_anim {
  0% {
    padding-top: 0px;
  }
  50% {
    padding-top: 10px;
  }
  100% {
    padding-top: 0px;
  }
}

@keyframes arrow_anim {
  0% {
    padding-top: 0px;
  }
  50% {
    padding-top: 10px;
  }
  100% {
    padding-top: 0px;
  }
}

#footer {
  height: 260px;
  background: #f9f9f9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#footer .sosials ul li {
  display: inline-block;
  border: 1px solid #ccc;
  margin: 0 5px;
  text-align: center;
  height: 42px;
  width: 42px;
  border-radius: 42px;
}

#footer .sosials ul li:hover {
  border: 1px solid #292929;
}

#footer .sosials a {
  margin-top: 130px;
  margin: 0 6px;
  overflow: hidden;
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  margin: 0 6px;
  overflow: hidden;
  text-align: center;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

#footer .sosials a i {
  text-decoration: none;
  font-size: 22px;
  color: #292929;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  text-align: center;
}

#about {
  width: 100%;
  height: 635px;
  color: #898989;
}

#about .row {
  width: 1160px;
  height: 420px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#about .row .column1 {
  height: 420px;
}

#about .row .column2 h1 {
  font-family: 'Kaushan Script', cursive;
  margin: 28px 0;
  font-weight: 400;
  color: #292929;
  font-size: 44px;
  line-height: 56px;
  padding-left: 40px;
}

#about .row .column2 p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #898989;
  background: white;
  line-height: 25px;
  letter-spacing: 0.03em;
  font-weight: 300;
  padding-left: 40px;
}

#about .row .column2 .btn {
  margin-top: 40px;
  width: 155px;
  height: 14px;
  padding-left: 40px;
}

#about .row .column2 .btn span:hover {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  background: #fdd912;
}

#about .row .column2 a {
  font-size: 12px;
  color: #292929;
  letter-spacing: 0.2em;
  font-weight: 500;
  line-height: 12px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  -webkit-box-shadow: inset 0 -6px 0 #fdd912;
          box-shadow: inset 0 -6px 0 #fdd912;
  height: 14px;
  opacity: 1;
  outline: none;
}

#works {
  height: 850px;
}

#works .title {
  margin-bottom: 30px;
}

#works .title span {
  font-family: 'Kaushan Script', cursive;
  color: #292929;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
}

#works .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 30px;
  font-size: 15px;
  color: #999999;
  line-height: 16px;
  cursor: pointer;
}

#works .work_items {
  width: 1160px;
  height: 600px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  grid-auto-rows: 270px;
}

#works .work_items img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#works .work_items img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

[class^="filter"] {
  padding-left: 25px;
}

[class^="work"] {
  overflow: hidden;
}

#whatido {
  height: 635px;
  background: #f9f9f9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#whatido .container {
  width: 1160px;
  height: 400px;
}

#whatido .container .title {
  font-family: 'Kaushan Script', cursive;
  color: #292929;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#whatido .container .ability {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 174px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.box {
  border: 1px solid black;
}

[class^="skill"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

[class^="items"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 30px;
}

[class^="icon"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 360px;
  height: 48px;
  font-size: 44px;
  line-height: 48px;
  color: #fdd912;
}

[class^="name"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px 0;
  font-size: 13px;
  color: #292929;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-transform: uppercase;
}

[class^="text"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 13px;
  line-height: 22px;
}

#blog {
  height: 850px;
  background: #f9f9f9;
}

#blog .container {
  width: 1160px;
  height: 580px;
}

#blog .container .title {
  margin-bottom: 30px;
  font-family: 'Kaushan Script', cursive;
  color: #292929;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
}

#blog .container .blog_examples {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

#blog .container .blog_examples a {
  font-size: 19px;
  line-height: 24px;
  font-weight: 500;
  color: #292929;
  height: 24px;
  padding-left: 4px;
}

#blog .container .blog_examples p {
  padding-left: 5px;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

#blog .container .viewbts {
  margin-top: 40px;
}

#blog .container .viewbts a {
  padding: 2px 0 0 0;
  vertical-align: top;
  font-size: 12px;
  color: #292929;
  letter-spacing: 0.2em;
  font-weight: 500;
  line-height: 12px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -6px 0 #fdd912;
          box-shadow: inset 0 -6px 0 #fdd912;
}

[class^="blog"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

[class^="blogphoto"] {
  height: 270px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

[class^="blogdate"] {
  font-size: 12px;
  font-weight: 400;
  color: #b9b9b9;
  margin-top: 20px;
}

#contact {
  height: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .container {
  width: 1160px;
  height: 390px;
}

#contact .container .title {
  margin-bottom: 50px;
}

#contact .container .title span {
  font-family: 'Kaushan Script', cursive;
  color: #292929;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
}

#contact .container .inputs {
  height: 320px;
  width: 1160px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#contact .container .inputs input {
  width: 100%;
  height: 48px;
  font-size: 13px;
  color: #292929;
  letter-spacing: -0.045em;
  font-weight: 500;
  resize: none;
  outline: 0;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

#contact .container .inputs textarea {
  width: 100%;
  height: 48px;
  font-size: 13px;
  color: #292929;
  letter-spacing: -0.045em;
  font-weight: 500;
  resize: none;
  outline: 0;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

#contact .container .inputs .sbtn a {
  font-size: 12px;
  color: #292929;
  letter-spacing: 0.2em;
  font-weight: 500;
  line-height: 12px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -6px 0 #fdd912;
          box-shadow: inset 0 -6px 0 #fdd912;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  color: #292929;
  text-decoration: none;
  opacity: 1;
  outline: none;
}

#contact .container .inputs .input5 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

body {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}

.reset_parameteres, #header .nav .navbar .navbarright ul, #footer .sosials ul, [class^="text"] {
  margin: 0px;
  padding: 0px;
}

.flex-all-center, #footer, #about, #works, #whatido, #blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image-full-div, #about .row .column1 img, #blog .container .blog_examples img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.a-type, #blog .container .blog_examples a, #blog .container .viewbts a {
  text-decoration: none;
  outline: none;
}
