html {
    overflow-y: scroll;
    scroll-behavior: smooth;
    
}
body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.8s ease 0s;
}

.reset_parameteres {
    margin: 0px;
    padding: 0px;
}
.flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-full-div {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.a-type {
    text-decoration: none;
    outline: none;
}