body {
    margin: 0px;
    font-family: 'Poppins', helvetica;
}
.reset_parameteres {
    margin: 0px;
    padding: 0px;
}
.flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
