// header section menu bar, logo, backround image
#header {
    height: 635px;
    background: url('/img/backround-new.png');
    background-size: cover;
    // header icinde oldugu ucun nested style istifade edildi
    .nav {
        //background-color: rgba(0,0,0,0.1);
        .navbar {
            padding: 20px 93px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .navbarleft{ 
                width: 120px;
                display: inline-block;
                
                a{
                    display: inline-block;
                    font-family: 'Kaushan Script', cursive;
                    font-size: 32px;
                    line-height: 46px;
                    font-weight: 600;
                    color:$text-color;
                    text-decoration: none;
                    font-style: italic;
                }
            }
            .navbarright ul{
                    @extend .reset_parameteres;
                    display:inline-block;
                    li{
                        display: inline-block;
                        margin: 0 18px;
                        font-size: 12px;
                        color:$text-color;
                        letter-spacing: 0.1em;
                        font-weight: 500; // Dolqunluq 
                        line-height: 14px;
                        outline: none;
                    }
                    a {
                        text-decoration: none;
                        color:$text-color;
                    }
            }
        }
    }
    // header section middle content
    .content{
            height: 348px;
        .hobbies{
            margin-top: 190px; 
            ul{
                @extend .reset_parameteres;
                height: 100px;
                @extend .flex-all-center;
                li{
                    display: inline-block;
                    padding: 0 20px;
                    color:$text-color;
                    font-weight: 600;
                    letter-spacing: -0.045em;
                    font-size: 50px;
                }
            }
        }
        .media{
            @extend .flex-all-center;
            a i{
                padding: 0 10px;
                color: $text-color;
            }
        }
        .arrow {
            @extend .flex-all-center;
            margin-top: 145px;
            a i{
                color: $text-color;
                font-size: 24px;
            }
        }
    }
}
