{% extends "layout.html" %}
{% block content %}
<form action="/admin/skill/add">
<button type="submit" style="background-color: darkblue; border-radius:25px; color:azure; margin:20px auto; font-size: 20px;">
    Add New Blog
</button>
</form>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Skill Content</th>
        <th scope="col">Icon</th>
        <th scope="col">Status</th>
        <th scope="col">Date</th>
        <th scope="col">Delete</th>
        <th scope="col">Update</th>
    </tr>
    </thead>
    <tbody>
    {% for skill in skillList %}
    <tr>
        <td>{{skill.id}}</td>
        <td>{{skill.skill_title}}</td>
        <td>{{skill.skill_content}}</td>
        <td>{{skill.skill_icon}}</td>
        <td>{{skill.skill_status}}</td>
        <td>{{skill.skill_date}}</td>
        <td><a href="/admin/skill/delete/{{skill.id}}">Delete</a></td>
        <td><a href="/admin/skill/update/{{skill.id}}">Update</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}