{% extends "layout.html" %}
{% block content %}
<form action="/admin/works/categories/update/{{category.id }}" method="POST" enctype="multipart/form-data">
    {{form.category_name.label}}{{form.category_name(class="form-control", value = category.category_name)}}    
    {{form.category_data.label}}{{form.category_data(class="form-control", value = category.category_data)}}  
    {{form.category_all.label}}{{form.category_all(class="form-control", value = category.category_all)}}  
    {{form.submit(class="form-control", value = "Add new category")}}
</form>
{% endblock %}