#blog_body {
    @extend .flex-all-center;
    .container {
        max-width: 1160px;
        @extend .innerBlokCenter;
        .title {
            @extend .mb-4;
            font-family: 'Kaushan Script', cursive;
            color: #292929;
            font-size: 30px;
            line-height: 40px;
        }
        .row {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 40px;
            a {
                font-size: 19px;
                color: #292929;
                height: 24px;
            }
            img {
                @extend .image-full-div;
            }
        }
        .viewbts {
            @extend .mt-4;
            a {
                padding: 2px 0 0 0;
                font-size: 12px;
                color: #292929;
                letter-spacing: 0.2em;
                box-shadow: inset 0 -6px 0 #fdd912;
            }
            a:hover {
                background: #fdd912;
                transition: all 0.8s ease 0s;
            }
            
        }
    }
    @media (max-width:1200px){
        .container {
            width: 970px;
        }
    }
    @media (max-width:992px) {
        .container {
            width: 750px;
        }
    }
    @media (max-width:767px) {
        .container {
            padding: 40px;
        }
        [class^="blog_inner"]{
            grid-column: 1/4;
        }
    }
}







[class^="blog_inner"]{
    box-sizing:border-box;
}
[class^="blogphoto"] {
    height: 270px;
    box-sizing: border-box;
}
[class^="blogdate"] {
    font-size: 12px;
    color: #b9b9b9;
    @extend .mt-2;
}