{% extends "layout.html" %}
{% block content %}
<form action="/admin/works/add" method="POST" enctype="multipart/form-data" style="box-sizing:border-box;">
    {{form.work_title.label}}{{form.work_title(class="form-control",value=work.work_title)}}    
    {{form.work_content.label}}{{form.work_content(class="form-control",value=work.work_content)}}
    {{form.work_class.label}}{{form.work_class(class="form-control",value=work.work_class)}}  
    {{form.work_data.label}}{{form.work_data(class="form-control",value=work.work_data)}}  
    {{form.work_brand.label}}{{form.work_brand(class="form-control",value=work.work_brand)}}  
    {{form.work_img.label}}{{form.work_img(class="form-control",value=work.work_img)}}  
    {{form.categories.label}}{{form.categories(class="form-control",value=work.categoryId)}}  
    {{form.work_status.label}}{{form.work_status(class="form-control",value=work.work_status)}}  
    {{form.submit(class="form-control", value = "Update work")}}
</form>
{% endblock %}
