{% extends "layout.html" %}
{% block content %}
<form action="/admin/blog/add" method="POST" enctype="multipart/form-data">
    {{form.blog_title.label}}{{form.blog_title(class="form-control")}}    
    {{form.blog_author.label}}{{form.blog_author(class="form-control")}}
    {{form.blog_status.label}}{{form.blog_status(class="form-control")}}
    {{form.blog_img.label}}{{form.blog_img(class="form-control")}}
    {{form.blog_info.label}}{{form.blog_info(class="form-control")}}
    {{form.blog_content.label}}{{form.blog_content(class="form-control")}}
    {{form.submit(class="form-control", value = "Add new blog")}}
</form>
{% endblock %}