{% extends "layout.html" %}
{% block content %}
<form action="/admin/blog/update/{{blog.id}}" method="POST" enctype="multipart/form-data">
    {{form.blog_title.label}}{{form.blog_title(class="form-control", value = blog.blog_title)}}    
    {{form.blog_author.label}}{{form.blog_author(class="form-control", value = blog.blog_author)}}
    {{form.blog_status.label}}{{form.blog_status(class="form-control", value = blog.blog_status)}}
    {{form.blog_img.label}}{{form.blog_img(class="form-control", value = blog.blog_img)}}
    {{form.blog_content.label}}{{form.blog_content(class="form-control", value = blog.blog_content)}}
    {{form.submit(class="form-control", value = "Update current blog")}}
</form>
{% endblock %}