<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/blog_main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <!--Preloader-->
    <div id="preloader" class="preloader">
        <div class="loader"></div>
    </div>
    <section id='blog_header'>
        <div class="nav">
            <div class="blog_nav">
                <div class="blog_left">
                    <a href="#blog_header" class="logo">Hendrix</a>
                </div>
                <div class="blog_right">
                    <a href="/" class="back">BACK TO HOME</a>
                </div>
            </div>
        </div>
    </section>
    <section id=blog_body>
        <div class="container">
            <div class="title">Latest Blogs</div>
            <div class="row">
                {% for blog in blogList %}
                <div class="blog_inner1">
                    <div class="blogphoto1">
                        <img src="{{blog.blog_img}}" alt="">
                    </div>
                    <br>
                    <a href="blog_inner.html"><b>{{blog.blog_title}}</b></a>
                    <br>
                    <p>{{blog.blog_info}}</p>
                    <div class="blogdate1">{{blog.blog_author}}</div>
                </div>
                {% endfor %}
            </div>
            <div class="viewbts">
                <a href="blog_main.html">LOAD MORE</a>
            </div>
        </div>
    </section>
    <section id="blog_footer">
        <footer id = "footer">
            <div class="sosials">
                <ul>
                    <li>
                        <a href="www.facebook.com">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="www.github.com">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="www.twiter.com">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="www.youtube.com">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a href="www.googleplus.com">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                    </li>
                </ul>
            </div>
            
        </footer>
    </section>
    <script src="../static/javascript/blog_main_page_js.js"></script>
</body>
</html>