<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!--Preloader-->
    <div id="preloader" class="preloader">
        <div class="loader"></div>
    </div>
    <!-- header -->
    <header id = 'header'>
        <div class="nav" id="nav">
            <div class="navBar">
                <div class="navBarLeft">
                    <!--Using a - tag  for reference to my web site link in future -->
                    <a href="#header" class="logo">Hendrix</a>
                </div>
                <div class="navBarRight">
                    <div>
                        <ul>
                            <li>
                                <a href="#about" class = "smoothScroll"> ABOUT</a>
                            </li>
                            <li>
                                <a href="#whatido" class = "smoothScroll">WHAT I DO</a>
                            </li>
                            <li>
                                <a href="#works" class = "smoothScroll">WORKS</a>
                            </li>
                            <li>
                                <a href="#blog" class = "smoothScroll">BLOG</a>
                            </li>
                            <li>
                                <a href="#contact" class = "smoothScroll">CONTACT  </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--Header Background seklinin ortasinda olan yazilar-->
        <div class="content">
            <div class="content_items">
                <div class="hobbi_list">
                    <span class ='hobbi'></span>
                </div>
                <div class="media">
                    <a href="www.facebook.com">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="www.github.com">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="www.twiter.com">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="www.youtube.com">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a href="www.googleplus.com">
                        <i class="fab fa-google-plus-g"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="arrow"> 
            <a href="#about" class='smoothScroll'>
                <i class="fas fa-chevron-down"></i>
            </a>
        </div>
    </header>
    <!-- endof header-->
    <section id = "about">
        <div class="container">
            <div class="row">
                {% for about in aboutList %}
                <div class="column1">
                    <img src="{{about.about_img}}" alt=""> 
                </div>
                <div class="column2">
                    <div class="column2-text">
                        <h1>{{about.about_title}}
                        </h1>
                        <p>
                            {{about.about_content}}
                        </p>
                        <div class="btn">
                            <a href="My resume">
                                Download resume
                            </a>
                        </div>
                    </div>      
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section id = 'whatido'>
        <div class="container">
            <div class="row">
                <div class="title">
                    <span>What I Do </span>
                </div>
            </div>      
            <div class="ability">
                {% for skill in skillList %}
                    <div class="skill1">
                        <div class="items1">
                            <div class="icon1">
                                <i class="{{skill.skill_icon}}"></i>
                            </div>
                            <div class="name1">
                                {{skill.skill_title}}
                            </div>
                            <p class="text1">
                                {{skill.skill_content}}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section> 
    <section id = 'works'>
        <div class="container">
            <div class="row">
                <div class="title">
                    <span>Recent Works</span> 
                </div>
                <div class="allFilters">
                    {% for category in categoryList %}
                    <div class="filter1 {{category.category_all}}" data-filter="{{category.category_data}}">{{category.category_name}}</div>
                    {% endfor %}
                </div>
                <div class="work_items"> 
                    {% for work in workList %}
                    <div class="works {{work.work_class}}">
                        <!--Modal divin id ile data modal eyni olmalidir -->
                        <a href="#nav" id="open_modal" data-modal="{{work.work_data}}">
                            <img src="{{work.work_img}}" alt="">
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section id='blog'>
        <div class="container">
            <div class="title">Latest Blogs</div>
            <div class="blog_examples">
                {% for blog in blogList %}
                <div class="blog1">
                    <div class="blogphoto">
                        <img src="{{blog.blog_img}}" alt="">
                    </div>
                    <br>
                    <a href="blog_inner.html"><b>{{blog.blog_title}}</b></a>
                    <br>
                    <p>{{blog.blog_info}}</p>
                    <div class="blogdate">{{blog.blog_author}}</div>
                </div>
                {% endfor %}
            </div>
            <div class="viewbts">
                <a href="blog_main.html">VIEW BLOG</a>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="title">
                <span>Contact Me</span>
            </div>
            <form id="cform" action="/" method="POST" novalidate="novalidate">
                <div class="inputs">
                    <div class="input1">
                        <input type="text" name="name" placeholder="Name *">
                    </div>
                    <div class="input2">
                        <input type="text" name="tel" placeholder="Phone *">
                    </div>
                    <div class="input3">
                        <input type="text" name="email" placeholder="Email *">
                    </div>
                    <div class="input4">
                        <input type="text" name="subject" placeholder="Subject *">
                    </div>
                    <div class="input5">
                        <textarea name="message" placeholder="Message"></textarea>
                    </div>
                    <div class="sbtn" class="input6">
                        <button type="submit">Send Message</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <footer id = 'footer'>
        <div class="container">
            <div class="sosials">
                <ul>
                    <li>
                        <a href="www.facebook.com">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="www.github.com">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="www.twiter.com">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="www.youtube.com">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a href="www.googleplus.com">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    {% for work in workList %}
    <div id="{{work.work_data}}" class="works_modal">
        <div class="modal_body">
            <div class="modal_content">
                <a href="#nav" id="modal_close" class="modal_close">
                    <i class="fas fa-window-close"></i>
                </a>
                <div>
                    <img src="{{work.work_img}}" alt="">
                </div>
                <div class="modal_text">
                    <div class="prtype">
                        {{work.work_brand}}
                    </div>
                    <div class="title">{{work.work_title}}</div>
                    <p>{{work.work_content}}</p>    
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <script src="../static/javascript/js.js"></script>
</body>
</html>