#about {
    .container{
        width: 100%;
    //height: 635px;
    @extend .flex-all-center;
    color: $about-color;
    }
    .row {
        @extend .innerBlokCenter;
        width: $inner_blok_width;
        height: 420px;
        display: grid;
        grid-template-columns: 30% 70%;
        box-sizing: border-box;
        .column1 {
            height: 420px;
            img{
                @extend .image-full-div;
            }
        }
        .column2 {
            .column2-text {
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                padding: 20px 20px;
            }
            h1 {
                font-family: 'Kaushan Script', cursive;
                font-weight: 400;
                color: $about-text-color;
                font-size: 44px;
                line-height: 56px;
                margin: 0;
                //padding-left: 40px;
            }
            p {
                font-family: 'Poppins', sans-serif;
                font-size: 15px;
                background: $text-color;
                line-height: 25px;
                letter-spacing: 0.03em;
                font-weight: 300;
                margin: 2em 0;
                //padding-left: 40px;
            }
            .btn{
                //margin-top: $button-margin;
                width: 155px;
                height: 14px;
                //padding-left: 40px;
                a:hover{
                    transition: all .8s ease 0s;
                    background:$about-ref-color;
                }
            }
            
            a {
                height: 12px;
                display: inline-block;
                font-size: 12px;
                color: $about-text-color;
                letter-spacing: 0.2em;
                font-weight: 500;
                line-height: 12px;
                text-transform: uppercase;
                cursor: pointer;
                text-decoration: none;
                box-shadow: inset 0 -6px 0 $about-ref-color;
                opacity: 1;
                outline: none;
            }
        }
    }
}