#blog {
    background: #f9f9f9;
    @extend .flex-all-center;
    .container {    
        max-width: $inner_blok_width;
        @extend .innerBlokCenter;
        .title {
            @extend .mb-4;
            font-family: 'Kaushan Script', cursive;
            color: #292929;
            font-size: 30px;
            line-height: 40px;
            font-weight: 400;
        }
        .blog_examples {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-gap: 40px;
            a {
                font-size: 19px;
                line-height: 24px;
                font-weight: 500;
                color: #292929;
                height: 24px;
            }
            img {
                @extend .image-full-div;
            }
            .blogphoto {
                height: 270px;
                box-sizing: border-box;
            }
            .blogdate {
                font-size: 12px;
                font-weight: 400;
                color: #b9b9b9;
                @extend .mt-2;
            }
        }
        .viewbts {
            @extend .mt-4;
            a {
                padding: 2px 0 0 0;
                vertical-align: top;
                font-size: 12px;
                color: #292929;
                letter-spacing: 0.2em;
                font-weight: 500;
                line-height: 12px;
                cursor: pointer;
                box-shadow: inset 0 -6px 0 $about-ref-color;
            }
        }

    }
    @media (max-width:1200px){
        .container {
            width: 970px;
        }
    }
    @media (max-width:992px) {
        .container {
            width: 750px;
        }
    }
    @media (max-width:767px) {
        .container {
            padding: 0 40px;
        }
        [class^="blog"]{
            grid-column: 1/4;
        }
    }
}

[class^="blog"] {
    box-sizing:border-box;
}