#whatido {
    //height: 635px;
    background: #f9f9f9;
    box-sizing: border-box;
    @extend .flex-all-center;
    .container {
        width: $inner_blok_width;
        height: 400px;
        @extend .innerBlokCenter;
        .title {
            font-family: 'Kaushan Script', cursive;
            color: $about-text-color;
            font-size: 30px;
            line-height: 40px;
            font-weight: 400;
            box-sizing: border-box;
        }
        .ability {
            display: grid;
            grid-template-columns:repeat(3, 1fr);
            grid-auto-rows: 174px;
            box-sizing: border-box;
        }
    }

}

.box {
    border: 1px solid black;
}
[class^="skill"] {
    box-sizing:border-box;
}
[class^="items"] {
    box-sizing:border-box;
    //margin-top: $title-margin;
    @extend .mt-3;
}
[class^="icon"] {
    box-sizing:border-box;
    width: 360px;
    height: 48px;
    font-size: 44px;
    line-height: 48px;
    color: #fdd912;
}
[class^="name"] {
    box-sizing:border-box;
    //margin: 10px 0;
    @extend .my-1;
    font-size: 13px;
    color: #292929;
    letter-spacing: 0.1em;
    font-weight: 500;
    text-transform: uppercase;
}

[class^="text"] {
    box-sizing: border-box;
    font-size: 13px;
    line-height: 22px;
    @extend .reset_parameteres;
}