#works {
    height: 850px;
    @extend .flex-all-center;
    .title {
        margin-bottom: $title-margin;
        span{
        font-family: 'Kaushan Script', cursive;
        color: #292929;
        font-size: 30px;
        line-height: 40px;
        font-weight: 400;
        }
    }
    .nav {
        display: flex;
        justify-content: start;
        margin-bottom: $title-margin;
        font-size: 15px;
        color: #999999;
        line-height: 16px;
        cursor: pointer;
    }
    .work_items {
        width: 1160px;
        height: 600px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: $grid-gap;
        grid-auto-rows: 270px;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            
        }
        img:hover {
            transform: scale(1.2);
            transition: all .3s ease;
        }
    }
}



[class^="filter"] {
    padding-left: 25px;
}
[class^="work"] {
    overflow: hidden;
}